<section class="about py-5">
  <div class="container pb-lg-3">
      <div class='row'>
          <div class='col-md-2'>Filter by:</div>
          <div class='col-md-4'>
            <input type='text'
                   [(ngModel)]='listFilter' />
          </div>
        </div>
        <div class='row'
             *ngIf='listFilter'>
          <div class='col-md-6'>
            <h4>Filtered by: {{listFilter}}</h4>
          </div>
        </div>
      <h3 class="tittle text-center">New Arrivals</h3>
      <div class="row">


          <div class="col-md-4 product-men" *ngFor='let product of filteredProducts'>
              <div class="product-shoe-info shoe text-center">
                  <div class="men-thumb-item">
                      <img [src]='product.imageUrl'
                      [title]='product.productName'
                      [style.width.px]='imageWidth'
                      [style.margin.px]='imageMargin'


           class="img-fluid" alt="">
                      <span class="product-new-top">New </span>
                  </div>
                  <div class="item-info-product">
                      <h4>
                          <a href="">{{product.productName | lowercase }} </a>
                      </h4>

                      <div class="product_price">
                          <div class="grid-price">
                              <span class="money"> {{ product.price | currency :'Ugx ':'symbol':'1.2-2'}}</span>
                          </div>
                      </div>
                      <ul class="stars">
                        <div class="crop"
                        [style.width.px]="starWidth"
                        [title]="rating"
                        (click)="onClick()">
                     <div style="width: 75px">
                       <span class="fa fa-star"></span>
                       <span class="fa fa-star"></span>
                       <span class="fa fa-star"></span>
                       <span class="fa fa-star"></span>
                       <span class="fa fa-star"></span>
                     </div>
                   </div>
                      </ul>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>

